[submodule "Nutcrackz/vendor/glm"]
	path = Nutcrackz/vendor/glm
	url = https://github.com/VagueLobster/glm
[submodule "Nutcrackz/vendor/imgui"]
	path = Nutcrackz/vendor/imgui
	url = https://github.com/VagueLobster/imgui
