[submodule "Nutcrackz/vendor/imgui"]
	path = Nutcrackz/vendor/imgui
	url = https://github.com/VagueLobster/imgui
[submodule "Nutcrackz/vendor/rtmcpp"]
	path = Nutcrackz/vendor/rtmcpp
	url = https://github.com/peter1745/rtmcpp
